$colorWhite           : #FFFFFF;
$colorBlack           : #000000;
$colorTurquoise       : #1ABC9C;
$colorGreenSea        : #16A085;
$colorMediumTurquoise : #4ECDC4;
$colorLightSeaGreen   : #1BA39C;
$colorEmerald         : #2ECC71;
$colorNephritis       : #27AE60;
$colorGossip          : #87D37C;
$colorSalem           : #1E824C;
$colorPeterRiver      : #3498D8;
$colorBelizeHole      : #2980B9;
$colorRiptide         : #86E2D5;
$colorDodgerBlue      : #19B5FE;
$colorAmethyst        : #9B59B6;
$colorWisteria        : #8E44AD;
$colorLightWisteria   : #BE90D4;
$colorPlum            : #913D88;
$colorWetAsphalt      : #34495E;
$colorMidnightBlue    : #2C3E50;
$colorHoki            : #67809F;
$colorEbonyClay       : #22313F;
$colorSunflower       : #F1C40F;
$colorTangerine       : #F39C12;
$colorConfetti        : #E9D460;
$colorCapeHoney       : #FDE3A7;
$colorCarrot          : #E67E22;
$colorPumpkin         : #D35400;
$colorEcstasy         : #F9690E;
$colorJaffa           : #F27935;
$colorAlizarin        : #E74C3C;
$colorPomegranate     : #C0392B;
$colorMonza           : #CF000F;
$colorThunderbird     : #D91E18;
$colorClouds          : #ECF0F1;
$colorSilver          : #BDC3C7;
$colorGallery         : #EEEEEE;
$colorIron            : #DADFE1;
$colorConcrete        : #95A5A6;
$colorAsbestos        : #7F8C8D;
$colorPumice          : #D2D7D3;
$colorLynch           : #6C7A89;

$colorMainForeground:   $colorEbonyClay;
$colorMainBackground:   $colorWhite;
$colorNavForeground:    $colorGallery;
$colorNavBackground:    $colorEbonyClay;
$colorAsideForeground:  $colorEbonyClay;
$colorAsideBackground:  $colorClouds;
$colorHeaderForeground: $colorGallery;
$colorHeaderBackground: $colorEbonyClay;
$colorFooterForeground: $colorEbonyClay;
$colorFooterBackground: $colorHoki;
$colorHoverForeground:  $colorBlack;
$colorHoverBackground:  $colorIron;

$colorNeutral:     $colorConcrete;
$colorSuccess:     $colorNephritis;
$colorFailure:     $colorMonza;
$colorSelected:    $colorDodgerBlue;

$formBorderWidth:  0.08rem;
$formPrefixWidth:  1.50rem;
$formInputSpacing: 0.50rem;
$formFieldPadding: 0.50rem 0.75rem 0.50rem 0.75rem;
$formInputPadding: 0.25rem;
