{% import 'macros/default/widgets_bool.html'   as widgets_bool %}
{% import 'macros/default/widgets_choice.html' as widgets_choice %}
{% import 'macros/default/widgets_date.html'   as widgets_date %}
{% import 'macros/default/widgets_file.html'   as widgets_file %}
{% import 'macros/default/widgets_number.html' as widgets_number %}
{% import 'macros/default/widgets_text.html'   as widgets_text %}

{% macro item_select(obj) %}
{% for widget in obj._widgets %}{% if widget.can_item_select %}{{ widget|render_macro(widget.jinja2_module_name, 'item_select_' + widget.jinja2_macro_name, obj._prefix) }}{% endif %}{% endfor %}
{%- endmacro %}

{% macro item_update(obj) %}
{% for widget in obj._widgets %}{% if widget.can_item_update %}{{ widget|render_macro(widget.jinja2_module_name, 'item_update_' + widget.jinja2_macro_name, obj._prefix) }}{% endif %}{% endfor %}
{%- endmacro %}

{% macro list_select(obj) %}
{%- endmacro %}

{% macro list_update(obj) %}
{%- endmacro %}

{% macro list_filter(obj) %}
{% for widget in obj._widgets %}{% if widget.can_list_filter %}{{ widget|render_macro(widget.jinja2_module_name, 'list_filter_' + widget.jinja2_macro_name, obj._prefix) }}{% endif %}{% endfor %}
{%- endmacro %}
